.card {
  text-align: center;
  font-size: medium;
  background-color: rgb(238, 229, 229);
  color: rgb(11, 87, 14);
  margin: 15%;
  font-size: small;
}

.topo-card {
  display: flex;
  justify-content: space-between;
}

.Brasil {
  width: 200px;
}
.Pais {
  width: 200px;
}
.perfil {
  width: 100px;
  display: flex;
}
.nome {
  justify-content: space-between;
}